{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        com.rpl/specter {:mvn/version "1.1.3"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        org.suskalo/discljord {:mvn/version "1.2.2"}
        org.suskalo/farolero {:mvn/version "1.0.3"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :dev {:extra-paths ["dev"]}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar" "casino.jar"
                        "-C" "-m" "casino.house"]}}}
